#container
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ProductInput{
    width: 70vh;
}
.productID-link{
    cursor: pointer;
}
.productID-link:hover{
    color: skyblue;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }