<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type = "text/JavaScript" src = " https://MomentJS.com/downloads/moment.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link  rel="stylesheet" href="../Styles/Product.css">
    <title>Add Product</title>
</head>
<body>    
    <!-- Products page -->
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">       
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="">
          </a>
        </div>
        
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="#" aria-current="page" class="text-sm font-semibold leading-6 text-gray-900">Add Product</a>
          <a href="./AllProducts.html" class="text-sm font-semibold leading-6 text-gray-900">All Products</a>
        </div>
    </nav>


      <div id="container">
        <div class="mb-3 ProductInput">
            <label for="ProductId" class="form-label">Product Id</label>
            <input  type="text" class="form-control block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1  ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" id="ProductId" placeholder="Product Id#">
        </div>
        <div class="mb-3 ProductInput">
            <label for="ProductName" class="form-label ">Product Name</label>
            <input required type="text" class="product_name block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1  ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" id="ProductName" placeholder="Enter Product Name">
        </div>

        <div class="mb-3 ProductInput"> 
            <div class="mb-3">
                <label for="categoriesSelect" class="form-label">Select Category</label>
                <select class="form-select h-full rounded-md border-0 bg-transparent py-0 pl-2 pr-7 text-gray-500  focus:ring-inset focus:ring-indigo-600 sm:text-sm" id="categoriesSelect">
                    <option selected disabled>Select a category</option>
                    <option value="Digital">Digital</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Home Accessories">Home Accessories</option>
                </select>
            </div>
        </div>

        <button type="button" id="AddProductBtn" class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add Product</button>
    </div>


    <script src="../../backend/AddProduct.js"></script>
</body>
</html>